/* Default error colouring */
/* line 3, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-a553faadab97/core/app/assets/stylesheets/refinery/formatting.scss */
article, nav, header, footer, aside, hgroup, section {
  display: block;
}

/* line 7, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-a553faadab97/core/app/assets/stylesheets/refinery/formatting.scss */
div.fieldWithErrors {
  display: inline;
}

/* line 11, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-a553faadab97/core/app/assets/stylesheets/refinery/formatting.scss */
#errorExplanation {
  border-top: 3px solid #F27F7F;
  background: #FFBEBE;
  padding: 10px;
}

/* line 17, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-a553faadab97/core/app/assets/stylesheets/refinery/formatting.scss */
#errorExplanation, #errorExplanation *, .fieldWithErrors, .fieldWithErrors * {
  color: #9C2626;
}

/* Browser Hacks */
/* line 22, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-a553faadab97/core/app/assets/stylesheets/refinery/formatting.scss */
a {
  /* remove borders from images */
  /*
  Firefox Dotted Line Fix
    - http://sonspring.com/journal/removing-dotted-links
  */
}
/* line 24, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-a553faadab97/core/app/assets/stylesheets/refinery/formatting.scss */
a img {
  border: 0px none;
}
/* line 31, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-a553faadab97/core/app/assets/stylesheets/refinery/formatting.scss */
a:focus {
  outline: none;
}

/*
Clearfix docs
 - Main docs: http://positioniseverything.net/easyclearing.html
 - IE7 change: http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/
*/
/* line 41, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-a553faadab97/core/app/assets/stylesheets/refinery/formatting.scss */
.clearfix, section {
  display: inline-block;
}
/* line 43, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-a553faadab97/core/app/assets/stylesheets/refinery/formatting.scss */
.clearfix:after, section:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Hide from IE Mac \*/
/* line 53, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-a553faadab97/core/app/assets/stylesheets/refinery/formatting.scss */
.clearfix, section {
  display: block;
}

/* End hide from IE Mac */
