 <main>
        <section class="well1">
            <div class="container">
                <h2>Coaches</h2>


              <% @page.images_with_captions.each do |image| %>

                <div class="box wow fadeInRight">
                    <div class="box_aside">
                        <%=image_tag image.image.url%>
                    </div>
                    <div class="box_cnt__no-flow">
                        <h4><%=image.image.title%></h4>
                        
                        <%=raw image.caption%>
                        
                    </div>
                </div>
                <% end %>
            </div>
        </section>
    </main> 