  <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section>
            <div id="google-map" class="map_model">
                <ul class="map_locations">
                    <li data-x="-73.9994068" data-y="40.648180">
                        <p> 8901 Marmora Road<br>Glasgow, DO4 89GR</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="contacts">
            <div class="contacts-wrap">
                <h3>Contact Us</h3>
                <form id="contact-form" class='contact-form'>
                    <div class="contact-form-loader"></div>
                    <fieldset>
                        <label class="name">
                            <input type="text" name="name" placeholder="Name:" value=""
                                   data-constraints="@Required @JustLetters"/>

                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid name.</span>
                        </label>
                        <label class="email">
                            <input type="text" name="email" placeholder="Email:" value=""
                                   data-constraints="@Required @Email"/>

                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid email.</span>
                        </label>
                        <label class="phone">
                            <input type="text" name="phone" placeholder="Phone:" value=""
                                   data-constraints="@JustNumbers"/>

                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid phone.</span>
                        </label>
                        <label class="message">
                            <textarea name="message" placeholder="Message:"
                                      data-constraints='@Required @Length(min=20,max=999999)'></textarea>

                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*The message is too short.</span>
                        </label>
                        <a class="btn btn3" href="#" data-type="submit">Send</a>
                    </fieldset>
                    <div class="modal fade response-message">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    You message has been sent! We will be in touch soon.
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="contacts-bottom bg02">
                    <div class="addr">8901 Marmora Road, Glasgow, D04 89GR.<br>(617) 676-7644
INFO@TEAMFLOBJJ.COM</div>
                </div>
            </div>
        </section>        
    </main>
