 <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section>
            <div class="camera_container">

                <div id="camera" class="camera_wrap">
                  <% @page.images.each do |image| %>
                    <div data-src="<%= image.image.url %>">
                        <div class="camera_caption fadeIn"></div>
                    </div>
                  <% end %>
                </div>

            </div>

        </section>
         <section class="bg02">
            <div class="container">
                <div class="banner banner1">
                    <div class="banner-right">

                        <a class="btn btn2" href="/contact">Free Class</a>
                    </div>
                     <h2 class="banner-title">CLICK HERE FOR A FREE CLASS!</h2>
                </div>   
            </div>
        </section>
        <section class="well1">
            <div class="container">
                <h2>About us</h2>
                <br>
                <br>
                <div class="row">
                    <div class="preffix_2 grid_8">
                        <div class="box1x">
                            <div class="box1x_inner bg01 wow fadeInDown">
                                <p><%=raw @page.content_for(:body) %></p>
                            </div>
                            <img class="back-img back-img_left wow fadeInLeft" src="<%= image_path 'nogi'%>" alt="">
                            <img class="back-img back-img_right wow fadeInRight" src="<%= image_path 'gi1'%>" alt=""> 
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
        <section class="bg01">
            <div class="container">
                <h2>recent News</h2>
                <% @items = Refinery::News::Item.latest(5) %>
            <%= render :partial => '/refinery/news/items/recent_posts' %>
                
        </section>
        
        