<main>
        <section class="well1">
            <div class="container">
                <h2>Programs</h2>
                <br>
                <div class="box wow fadeInRight">
                    <div class="box_aside">
                        <%=image_tag "kids1"%>
                    </div>
                    <div class="box_cnt__no-flow">
                        <h4>Kid's class</h4>
                        
                        <p>We believe that the practice of Brazilian Jiu-Jitsu is seen as a means to individual development and personal growth. Strength, self-awareness, respect, discipline and responsibility are common core values taught within our kid’s program. The program is structured to teach technique through functional games aimed to improve your child’s agility and flexibility in a fun, friendly and interactive manner.</p>
                        
                    </div>
                </div>
                <div class="box wow fadeInRight">
                    <div class="box_aside">
                        <%=image_tag "gi"%>
                    </div>
                    <div class="box_cnt__no-flow">
                        <h4>Gi class</h4>
                        
                        <p>This class focuses on strategy; it was designed to help the member develop proficiency and heightened awareness. Traditionally Brazilian Jiu-Jitsu is practiced in a Gi or Kimono, because the burden the gi places on the body eliminates many physical advantages so the participant is forced to focus on technique.</p>
                        
                    </div>
                </div>
                <div class="box wow fadeInRight">
                    <div class="box_aside">
                        <%=image_tag "nogi"%>
                    </div>
                    <div class="box_cnt__no-flow">
                        <h4>No gi class</h4>
                        
                        <p>No-Gi Jiu-Jitsu is a dynamic self-defense system that focuses on applying the fundamentals of Brazilian Jiu-Jitsu without the traditional uniform. In No-Gi Jiu-Jitsu the goal is to gain a dominant position using joint-locks and choke holds, forcing your opponent to submit. Much of the ground game aspect of what you see in mixed martial arts (MMA) is learned in No-Gi training and can be applied to everyday situations. Students who have previous wrestling experience tend to find No Gi Jiu-Jitsu to be a great extension to their wrestling background.</p>
                        
                    </div>
                </div>
                <div class="box wow fadeInRight">
                    <div class="box_aside">
                        <%=image_tag "fundamentals"%>
                    </div>
                    <div class="box_cnt__no-flow">
                        <h4>Fundamentals class</h4>
                        
                        <p>This class focuses on the learning and application of the basic Brazilian Jiu-Jitsu techniques. Students will learn the fundamental skills and strategies of Brazilian Jiu-Jitsu, including a variety of submissions and escapes. This class will focus on proper techniques from the standing position covering basic throws and Jiu-Jitsu take-downs, including ground work.

This class is effective for the beginner as well as the advanced student looking to perfect his/her basic Jiu-Jitsu techniques.

Whether you are looking to get in shape, increase self-confidence, or learn a viable self-defense system, we are confident that we can help you reach your goals.

*This class is for white belts 3 stripes and up.</p>
                        
                    </div>
                </div>
                <div class="box wow fadeInRight">
                    <div class="box_aside">
                        <%=image_tag "openmat"%>
                    </div>
                    <div class="box_cnt__no-flow">
                        <h4>Open mat</h4>
                        
                        <p>Our open mat training is designed to allow students to work on specific trouble areas and practice newly learned techniques in a non-instructed format. The class is open to all members of any belt rank or age. This class allows members the opportunity to spar, drill, or analyze techniques and improve their Jiu-Jitsu Game.</p>
                        
                    </div>
                </div>
                 <div class="box wow fadeInRight">
                    <div class="box_aside">
                        <%=image_tag "kids"%>
                    </div>
                    <div class="box_cnt__no-flow">
                        <h4>Private classes</h4>
                        
                        <p>While Group classes are an established way to teach Jiu-Jitsu, largely because of the diversity of training partners, private classes are a perfect complement. The benefits of private lessons include scheduling flexibility, personal attention, and linear presentation of techniques.

Private classes at ATOS Jiu-Jitsu are taught by 4X ADCC World Champion Andre Galvao or one of his specially trained instructors. The individual attention received by the instructor during private lessons will not only insure that you get world class training but also insure that each position is done with the utmost precision and focus on detail.</p>
                        
                    </div>
                </div>
            </div>
        </section>
    </main> 
