 <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        
        <section class="well1">
            <div class="container">
                <div class="ce_table schedule block" style="margin-bottom:30px;">
                <table id="table_27">

          <thead>
        <tr>
                      <th class="head_0 col_first">Mon</th>
                      <th class="head_1">Tues</th>
                      <th class="head_2">Wed</th>
                      <th class="head_3">Thurs</th>
                      <th class="head_4">Fri</th>
                      <th class="head_5 col_last">Sat</th>
                  </tr>
      </thead>
    
    
    <tbody>
              <tr class="row_0 row_first even">
                                    <td class="col_0 col_first">&nbsp;</td>
                                                <td class="col_1"><p class="blue">9:30 - 11:00am<br>
Lowell - GI<br>
<br>
</p></td>
                                                <td class="col_2"><p class="blue">9:30 - 11:00am<br>
Lowell - GI w/ <br>
<span style="color:yellow;font-weight:bold;">Renan Borges</span><br>
</p></td>
                                                <td class="col_3"><p class="blue">9:30 - 11:00am<br>
Lowell - GI w/ <br>
<span style="color:yellow;font-weight:bold;">Renan Borges</span><br>
</p></td>
                                                <td class="col_4"><p class="blue">9:30 - 11:00am<br>
Lowell - GI w/ <br>
<span style="color:yellow;font-weight:bold;">Renan Borges</span><br>
</p></td>
                                                <td class="col_5 col_last"><p class="yellow">9:30 - 10:30am<br>
Kids BJJ Lowell<br>
<br>
</p></td>
                              </tr>
              <tr class="row_1 odd">
                                    <td class="col_0 col_first">&nbsp;</td>
                                                <td class="col_1">&nbsp;</td>
                                                <td class="col_2">&nbsp;</td>
                                                <td class="col_3">&nbsp;</td>
                                                <td class="col_4">&nbsp;</td>
                                                <td class="col_5 col_last"><p class="blue">11:00 - 12:30PM<br>
Lowell - NOGI<br>
</p></td>
                              </tr>
              <tr class="row_2 even">
                                    <td class="col_0 col_first">&nbsp;</td>
                                                <td class="col_1">&nbsp;</td>
                                                <td class="col_2">&nbsp;</td>
                                                <td class="col_3">&nbsp;</td>
                                                <td class="col_4">&nbsp;</td>
                                                <td class="col_5 col_last"><p class="blue">12:30 - 1:30PM<br>
Lowell - BJJ<br>
Fundamentals<br>
</p></td>
                              </tr>
              <tr class="row_3 odd">
                                    <td class="col_0 col_first">&nbsp;</td>
                                                <td class="col_1"><p class="red" style="color:#000;">3:00 - 4:00pm<br>
Lowell - Boxing</p></td>
                                                <td class="col_2">&nbsp;</td>
                                                <td class="col_3"><p class="red" style="color:#000;">3:00 - 4:00pm<br>
Lowell - Boxing</p></td>
                                                <td class="col_4">&nbsp;</td>
                                                <td class="col_5 col_last">&nbsp;</td>
                              </tr>
              <tr class="row_4 even">
                                    <td class="col_0 col_first">&nbsp;</td>
                                                <td class="col_1"><p class="blue">4:15 - 5:45pm<br>
Lowell - GI</p></td>
                                                <td class="col_2">&nbsp;</td>
                                                <td class="col_3"><p class="blue">4:15 - 5:45pm<br>
Lowell - GI</p></td>
                                                <td class="col_4">&nbsp;</td>
                                                <td class="col_5 col_last">&nbsp;</td>
                              </tr>
              <tr class="row_5 odd">
                                    <td class="col_0 col_first"><p class="yellow">6:30 - 7:30pm<br>
Kids BJJ Lowell</p></td>
                                                <td class="col_1">&nbsp;</td>
                                                <td class="col_2"><p class="yellow">6:30 - 7:30pm<br>
Kids BJJ Lowell</p></td>
                                                <td class="col_3">&nbsp;</td>
                                                <td class="col_4"><p class="blue">NOGI 6:30 - 8:00pm<br>
Lowell - GI</p></td>
                                                <td class="col_5 col_last">&nbsp;</td>
                              </tr>
              <tr class="row_6 even">
                                    <td class="col_0 col_first"><p class="blue">7:30 - 9:00pm<br>
Lowell - GI</p></td>
                                                <td class="col_1">&nbsp;</td>
                                                <td class="col_2"><p class="blue">7:30 - 9:00pm<br>
Lowell - GI</p></td>
                                                <td class="col_3">&nbsp;</td>
                                                <td class="col_4">&nbsp;</td>
                                                <td class="col_5 col_last">&nbsp;</td>
                              </tr>
              <tr class="row_7 row_last odd">
                                    <td class="col_0 col_first">&nbsp;</td>
                                                <td class="col_1">&nbsp;</td>
                                                <td class="col_2">&nbsp;</td>
                                                <td class="col_3">&nbsp;</td>
                                                <td class="col_4">&nbsp;</td>
                                                <td class="col_5 col_last">&nbsp;</td>
                              </tr>
          </tbody>

  </table>

            </div>            </div>
        </section>
        
    </main>