<main>
    <section class="well1">
        <div class="container">
            <h2>our coaches</h2>
            <h5>liquam dapibus tincidunt metus</h5>
            <div class="box wow fadeInRight">
                <div class="box_aside">
                    <img src="images/page3_img01.jpg" alt="">
                </div>
                <div class="box_cnt__no-flow">
                    <h4>John Gordon</h4>
                    <h5>odio dignissim</h5>
                    <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem vestigationes demonstraverunt lectores legere me lius quoii legunt saepius. Claritas est etiam processus dynamicus. Qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nuEodemo ui blandit praesent luptaum zzelenit augue. duis dolore te feugait nulla facilisi. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem vestigatione.</p>
                    <ul class="social-list1">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <% @items = Refinery::News::Item.latest(5) %>
			<%= render :partial => '/refinery/news/items/recent_posts' %>
        </div>
    </section>
</main>