<li>
	<div data-alt="<%=item.id %>" data-description="<h3><%= item.title %></h3>" data-max-width="<%=item.image.width %>" data-max-height="<%=item.image.height %>">
		<div data-src="<%=item.image.thumbnail(:geometry => '1300x').url %>" data-min-width="1300"></div>
		<div data-src="<%=item.image.thumbnail(:geometry => '1000x').url %>" data-min-width="1000"></div>
		<div data-src="<%=item.image.thumbnail(:geometry => '700x').url %>" data-min-width="700"></div>
		<div data-src="<%=item.image.thumbnail(:geometry => '300x').url %>" data-min-width="300"></div>
		<div data-src="<%=item.image.thumbnail(:geometry => '232x').url %>" data-min-width="232"></div>
		<div data-src="<%=item.image.thumbnail(:geometry => '133x').url %>" data-min-width="133"></div>
    <div data-src="<%=item.image.thumbnail(:geometry => '100x').url %>"></div>
    <noscript>
      <img src="<%=item.image.thumbnail(:geometry => '100x').url %>" alt="<%= item.title %>"/>
    </noscript>
	</div>
</li>

