<!--<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>
-->

<footer>
        <section class="parallax parallax3" data-parallax-speed="-0.2" data-parallax-offset="30">
            <div class="container">
                <div class="row">
                    <div class="grid_4">
                        <div class="brand">
                            <h1 class="brand_name">
                                <%= link_to Refinery::Core.site_name, refinery.root_path %>
                              <a href="/" style="font-size: 12px;letter-spacing: 3px;">brazilian jiu jitsu</a>
                            </h1>

                        </div>
                    </div>
                    <div class="preffix_5 grid_3 social">
                        <h3>Follow us:</h3>
                        <ul class="social-list">
                            <li><a href="http://www.facebook.com/Team-Flo-Brazilian-Jiu-Jitsu-576628715714300/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <p class="copy">
                    Copyright © <span id="copyright-year"></span> |
                    <a href="#">Privacy Policy</a>
                </p>   
                
            </div>
        </section>
    </footer>