 <header>
        <div class="container">
            <div class="brand">
                <div class="brand_name">
                    <h1><%= link_to Refinery::Core.site_name, refinery.root_path %>
                  <a href="/" style="font-size: 12px;letter-spacing: 3px;">brazilian jiu jitsu</a>
                    </h1>
                </div>

            </div>
        </div> 
        <div id="stuck_container" class="stuck_container">
            <div class="container">
                <%= navigation_menu.to_html %>
            </div>
        </div>
    </header>