
    <title><%= browser_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset='<%= Rails.application.config.encoding %>' />
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag "application" %>
    
    