@import "animate.css";
@import url(//fonts.googleapis.com/css?family=Paytone+One|Open+Sans:400,600,700,800);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
/*========================================================
                        Includes
=========================================================*/
/*========================================================
                      Main Styles
=========================================================*/
body {
  background: #ffffff;
  color: #555555;
  font: 400 15px/28px 'Open Sans', sans-serif;
  -webkit-text-size-adjust: none;
}
img {
  max-width: 100%;
  height: auto;
}
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font: 24px/24px 'Paytone One', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 9px;
}
h2 {
  font-size: 50px;
  line-height: 52px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
  margin-top: 40px;
  margin-bottom: 5px;
  text-align: center;
}
@media (max-width: 979px) {
  h2 {
    font-size: 40px;
    line-height: 42px;
  }
}
h2 + p {
  margin-top: 20px;
}
h3 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #43cbb6;
}
h4 {
  font-size: 24px;
  line-height: 30px;
  margin: 5px 0;
}
h5 {
  font-size: 15px;
  line-height: 28px;
  color: #43cbb6;
  margin-bottom: 40px;
  text-align: center;
}
h6 {
  font-size: 16px;
  line-height: 28px;
}
ul {
  list-style: none;
}
p a:hover {
  text-decoration: underline;
}
time {
  display: block;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:active {
  background: transparent;
}
a:focus {
  outline: none;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
strong {
  font-weight: 700;
}
.fa {
  line-height: inherit;
}
[class*='fa-']:before {
  font-weight: 400;
  font-family: 'FontAwesome';
}
.page {
  overflow: hidden;
  min-height: 500px;
  position: relative;
}
.lt-ie9 .page {
  min-width: 1200px;
}
/*=======================================================
                       Main Layout
=========================================================*/
/*=======================================================
                        Components
=========================================================*/
/*========================   Menu   ==========================*/
.sf-menu {
  display: inline-block;
}
.sf-menu:before,
.sf-menu:after {
  content: " ";
  display: table;
}
.sf-menu:after {
  clear: both;
}
.sf-menu > li {
  position: relative;
  float: left;
}
.sf-menu a {
  display: block;
}
.sf-menu > li > a {
  display: inline-block;
  color: #FFF;
  padding: 0 9px;
  margin: 0 20px;
}
.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover {
  background: #43cbb6;
}
.sf-menu > li.active > a {
  background: #43cbb6;
}
.sf-menu > li:after {
  content: "/";
  color: #fff;
}
.sf-menu > li:last-child:after {
  display: none;
}
.sf-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: -8px;
  width: 115px;
  text-align: center;
  margin-top: 21px;
  padding: 20px 0 5px;
  background: #25160c;
  z-index: 2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sf-menu ul {
  line-height: 18px;
}
.sf-menu ul > li {
  margin-bottom: 18px;
  padding: 0 10px;
  position: relative;
}
.sf-menu ul > li > a {
  color: #FFF;
}
.sf-menu ul > li.sfHover > a,
.sf-menu ul > li > a:hover {
  color: #43cbb6;
}
.sf-menu ul ul {
  position: absolute;
  top: -5px;
  left: 100%;
  width: 115px;
  margin-top: 0;
  padding: 15px 0 5px;
  z-index: 4;
}
.sf-menu ul ul > li > a {
  color: #FFF;
}
.sf-menu ul ul > li.sfHover > a,
.sf-menu ul ul > li > a:hover {
  color: #43cbb6;
}
.sf-menu > li > .sf-with-ul {
  position: relative;
}
.sf-menu > li > .sf-with-ul:before {
  position: absolute;
  left: 50%;
  top: 90%;
  margin-left: -6px;
  content: '\f0d7';
  font: 400 12px/12px 'FontAwesome';
}

@media (max-width: 767px) {
  .sf-menu {
    display: none;
  }
}
/*==================  Select Menu  ======================*/
.select-menu {
  position: relative;
  display: none;
  margin: 0 auto;
  width: 420px;
  background: #ffffff url('../images/select.png') no-repeat right center;
  overflow: hidden;
}
.select-menu .select {
  width: 440px;
  height: 30px;
  color: #585858;
  background-color: transparent;
  font: 400 15px 'Open Sans', sans-serif;
  line-height: 30px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
}
.select-menu .select::-ms-expand {
  display: none;
}
@media (max-width: 767px) {
  .select-menu {
    display: block;
  }
}
@media (max-width: 479px) {
  .select-menu {
    width: 270px;
  }
  .select-menu .select {
    width: 290px;
  }
}
/*==================  Stuck menu  ======================*/
.isStuck {
  background: rgba(67, 40, 21, 0.6);
  z-index: 999;
  border-top: 4px solid #43cbb6;
}
@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
/*==================     ToTop     ======================*/
.toTop {
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  background: #25160c;
  position: fixed;
  right: 66px;
  bottom: 180px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}
.toTop:hover {
  color: #fff;
  background: #43cbb6;
  text-decoration: none;
}
@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important;
  }
}
/*=================       Tabs     ======================*/
.resp-tabs-list {
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 979px) and (min-width: 768px) {
  .resp-tabs-list {
    margin-bottom: 10px;
  }
}
.resp-tabs-list li {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  font-size: 50px;
  line-height: 52px;
  font-weight: 600;
}
.resp-tabs-list li:hover {
  color: #43cbb6;
}
.resp-accordion {
  display: none;
  text-align: center;
  margin: 0 10px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
  cursor: pointer;
}
.resp-accordion:hover {
  color: #43cbb6;
}
.resp-tab-content {
  display: none;
}
.resp-tab-content-active {
  display: block;
}
.resp-tab-active {
  color: #43cbb6;
}
@media (max-width: 767px) {
  .resp-accordion {
    display: block;
  }
  .resp-tabs-list {
    display: none;
  }
}
.tabs-wrap {
  width: 250px;
  margin: 0 auto;
  color: #fff;
}
/*==================   Tumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.thumb img {
  width: 100%;
  height: auto;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.thumb_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #ffffff;
  background: transparent;
}
.thumb_overlay:before {
  content: '\f065';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font: 400 30px 'FontAwesome';
  line-height: 30px;
  margin-top: -15px;
  text-align: center;
}
.lt-ie9 .thumb_overlay:before {
  display: none;
}
.thumb:hover .thumb_overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.lt-ie9 .thumb:hover .thumb_overlay {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  zoom: 1;
}
.lt-ie9 .thumb:hover .thumb_overlay:before {
  display: block;
}
.thumb:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.video:after {
  content: '\f152';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font: 400 72px/72px 'FontAwesome';
  margin-top: -36px;
  text-align: center;
  color: #333333;
}
.video .thumb_overlay:before {
  display: none;
}
/*==================   Parallax    ======================*/
.parallax {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobile .parallax,
.tablet .parallax {
  background-position: 50% 0 !important;
}
.parallax1 {
  background-color: #FFF;
  background-image: url(images/parallax01.jpg);
  padding: 105px 0 80px;
}
@media (max-width: 979px) and (min-width: 768px) {
  .parallax1 {
    padding: 50px 0 20px;
  }
}
@media (max-width: 1199px) and (min-width: 980px) {
  .parallax1 {
    padding: 80px 0 50px;
  }
}
.parallax2 {
  background-color: #FFF;
  background-image: url(images/parallax01.jpg);
  padding: 35px 0 75px;
  color: #fff;
  font-size: 18px;
}
@media (max-width: 979px) and (min-width: 768px) {
  .parallax2 {
    padding: 10px 0 35px;
  }
}
.parallax3 {
  background-color: #FFF;
  background-image: url(images/parallax03.jpg);
  padding: 75px 0 15px;
}
@media (max-width: 979px) and (min-width: 768px) {
  .parallax3 {
    padding: 40px 0 10px;
  }
}
@media (max-width: 767px) {
  .parallax {
    background-position: center 0 !important;
  }
}
/*==================    Buttons    ======================*/
.btn {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 48px;
  font-size: 18px;
  line-height: 48px;
  font-weight: 800;
  text-align: center;
  color: #fff;
  background: #25160c;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}
.btn:hover {
  text-decoration: none;
  background: #fff;
  color: #43cbb6;
}
.btn2 {
  color: #fff;
  background: #43cbb6;
}
.btn3 {
  color: #fff;
  background: #43cbb6;
}
.btn3:hover {
  color: #fff;
  background: #25160c;
}
.btn_large {
  width: initial;
  padding: 0 47px;
}
p + .btn {
  margin-top: 35px;
}
/*==================      Box      ======================*/
.box {
  margin-bottom: 40px;
}
.box:before,
.box:after {
  content: " ";
  display: table;
}
.box:after {
  clear: both;
}
.box h5 {
  text-align: left;
  margin-bottom: 30px;
}
.box_aside {
  float: left;
  margin-right: 30px;
}
.box_aside img {
  width: 100%;
}
@media (max-width: 767px) {
  .box_aside {
    float: none;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
.box_cnt__no-flow {
  overflow: hidden;
}
.mb0 {
  margin-bottom: 0;
}
.mb1 {
  margin-bottom: 25px;
}
.social-list1 {
  margin-top: 30px;
}
.social-list1 li {
  position: relative;
  float: left;
}
.social-list1 li + li {
  margin-left: 9px;
}
.social-list1 a {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #dedede;
  color: #2d2d2d;
  text-align: center;
}
.social-list1 a:hover {
  color: #43cbb6;
}
.social-list1 a .fa {
  display: block;
  font-size: 14px;
  line-height: 30px;
}
.box_bottom {
  background: #43cbb6;
  color: #fff;
  padding: 20px 50px 23px;
  margin-top: 3px;
  font-size: 16px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.bottom-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}
a:hover .box_bottom {
  background: #555555;
}
.box-wrap {
  font-size: 0;
  line-height: 0;
}
.box-wrap:before,
.box-wrap:after {
  content: " ";
  display: table;
}
.box-wrap:after {
  clear: both;
}
.box4x {
  width: 24.805%;
  float: left;
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .box4x {
    width: 100%;
    float: none;
  }
}
.box4x + .box4x {
  margin-left: 0.26%;
}
.box4x a {
  display: block;
  background: #fff;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
}
.box4x a:hover {
  border-bottom-color: #43cbb6;
}
.box4x a:hover .img-cover {
  opacity: 0.5;
}
.lt-ie9 .box4x a:hover .img-cover {
  filter: alpha(opacity=50);
}
.box4x_cnt {
  padding: 0 10px;
}
.box4x img {
  width: 100%;
}
.img-wrap {
  position: relative;
  margin-bottom: 12px;
}
.img-wrap .img-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  rigth: 0;
  background: #25160c;
  opacity: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.lt-ie9 .img-wrap .img-cover {
  filter: alpha(opacity=0);
}
.box3x {
  width: 33.16%;
  float: left;
  margin-bottom: 5px;
  text-align: left;
  font-size: 15px;
  line-height: 28px;
}
@media (max-width: 767px) {
  .box3x {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
}
.box3x + .box3x {
  margin-left: 0.26%;
}
.box3x h6 + p {
  margin-top: 15px;
}
.box3x a {
  display: block;
  border-top: 2px solid transparent;
  padding-bottom: 10px;
}
.box3x a:hover {
  border-top-color: #43cbb6;
}
.box3x a:hover .box3x_bottom {
  background: #43cbb6;
  color: #fff;
}
.box3x a:hover .box3x_bottom h5 {
  color: #fff;
}
.box3x_aside {
  float: left;
  margin-right: 30px;
  text-align: center;
}
@media (max-width: 979px) {
  .box3x_aside {
    float: none;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
.box3x_cnt__no-flow {
  overflow: hidden;
}
.box3x_top {
  background: #fff;
  margin-bottom: 3px;
  padding: 20px 20px 25px;
}
.box3x_top:before,
.box3x_top:after {
  content: " ";
  display: table;
}
.box3x_top:after {
  clear: both;
}
.box3x_bottom {
  background: #fff;
  padding: 25px 20px 20px;
  text-align: center;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.box3x_bottom h6 {
  text-align: center;
}
.box3x img {
  width: 100%;
  height: auto;
}
.num {
  display: block;
  font-weight: 600;
  color: #333333;
  font-size: 50px;
  line-height: 54px;
  text-align: center;
}
.owl-item .box3x {
  width: 100%;
}
@media (max-width: 767px) {
  .owl-item .box3x {
    margin-bottom: 0;
  }
}
.box1x {
  position: relative;
  padding-bottom: 70px;
}
.box1x_inner {
  position: relative;
  z-index: 5;
  padding: 35px 30px 40px;
  text-align: center;
}
.box1x .back-img {
  position: absolute;
  top: 20px;
}
.box1x .back-img_right {
  right: -250px;
}
.box1x .back-img_left {
  left: -250px;
}
@media (max-width: 767px) {
  .box1x .back-img {
    position: static;
    width: 100%;
  }
}
/*========================================================
                     HEADER  Section
=========================================================*/
header {
  border-top: 4px solid #43cbb6;
  text-align: center;
  background: no-repeat url(images/header-bg.jpg) top center;
}
header.abs {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  background: rgba(67, 40, 21, 0.6);
}
header .brand {
  position: relative;
  top: -4px;
  margin: 0 auto;
}
header .nav {
  margin-top: 23px;
  margin-bottom: 21px;
  text-align: center;
}
/*==================     Brand     ======================*/
.brand {
  display: block;
  text-align: center;
}
.brand_name {
  display: inline-block;
  overflow: hidden;
    background: #25160c;
    padding: 25px 30px 25px 35px;
}
.brand_name a {
  display: block;
  color: #fff;

}
/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  display: block;
  background: #ffffff;
}
.text-center {
  text-align: center;
}
.banner {
  color: #fff;
  padding-top: 43px;
  padding-bottom: 43px;
}
@media (max-width: 767px) {
  .banner {
    text-align: center;
  }
}
.banner .banner-title {
  line-height: 48px;
  color: #fff;
  margin: 0;
  padding: 0;
}
@media (max-width: 979px) {
  .banner .banner-title {
    font-size: 34px;
  }
}
.banner .banner-right {
  float: right;
}
@media (max-width: 767px) {
  .banner .banner-right {
    float: none;
    margin-bottom: 30px;
  }
}
.banner2 {
  text-align: center;
}
.banner2 .banner-title {
  display: inline-block;
  margin-right: 40px;
}
@media (max-width: 767px) {
  .banner2 .banner-title {
    margin-bottom: 30px;
    margin-right: 0;
  }
}
.quote {
  text-align: center;
  margin-bottom: 30px;
}
.quote p {
  margin-bottom: 30px;
}
.terms {
  text-align: center;
  padding: 20px 0 30px;
}
.terms h6 {
  margin-bottom: 0;
}
.terms p {
  margin-bottom: 28px;
}
.link1 {
  color: #d71e1e;
  font-size: 18px;
}
.secondary {
  color: #43cbb6;
}
img + p {
  padding-top: 15px;
}
.block-sm {
  width: 72.39%;
  margin: 0 auto;
}
@media (max-width: 479px) {
  .block-sm {
    width: 100%;
  }
}
.contacts {
  position: relative;
  text-align: center;
}
.contacts h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 800;
  margin-bottom: 25px;
  color: #25160c;
  text-align: center;
  text-transform: none;
}
@media (min-width: 480px) and (max-width: 767px) {
  .contacts {
    background: #ededed;
    padding: 50px 0;
  }
}
.contacts-wrap {
  position: absolute;
  top: -217px;
  left: 50%;
  margin-left: -185px;
  width: 370px;
  background: #fff;
  padding-top: 23px;
}
@media (max-width: 767px) {
  .contacts-wrap {
    position: static;
    margin: 0 auto;
  }
}
@media (max-width: 479px) {
  .contacts-wrap {
    width: 100%;
  }
}
.contacts-bottom {
  color: #fff;
  text-align: center;
  padding: 16px 10px;
  font-size: 14px;
}
/*==================      Well     ======================*/
.well1 {
  padding-top: 20px;
  padding-bottom: 55px;
}
.well2 {
  padding-bottom: 55px;
}
/*==================  Backgrounds  ======================*/
.bg01 {
  background: #ededed;
}
.bg02 {
  background: #25160c;
}
.bg03 {
  background: #43cbb6;
}
/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  background: #ffffff;
}
@media (max-width: 979px) and (min-width: 768px) {
  footer .brand {
    text-align: left;
  }
  footer .brand_name {
    font: 20px/24px 'Paytone One', sans-serif;
    letter-spacing: 6px;
  }
  footer .brand a {
    padding: 20px 15px 20px 20px;
  }
}
.copy {
  margin-top: 115px;
  font-size: 13px;
  color: #fff;
  text-align: center;
}
.copy a {
  color: #fff;
}
@media (max-width: 979px) {
  .social {
    text-align: center;
  }
}
.social h3 {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}
.social-list {
  display: inline-block;
}
.social-list li {
  position: relative;
  float: left;
}
.social-list li + li {
  margin-left: 34px;
}
.social-list a {
  display: block;
  color: #fff;
}
.social-list a:hover {
  color: #43cbb6;
}
.social-list a .fa {
  display: block;
  font-size: 24px;
}

/* Style sheet schedule-table */
.ce_table.schedule table{width:100%;padding-bottom:1em;text-align:center;background-color:#fff;border:5px solid #e9e9e9;font-size:.8125em;color:#fff}.schedule th{padding-top:10px;color:#000}.schedule td{padding-top:0;padding-right:2px;padding-bottom:0}.schedule p.blue{background-color:#4b85e8}.schedule p.black{background-color:#000}.schedule p.red{background-color:#cb0401}.schedule p.yellow{background-color:#fffb00;color:#000}.schedule p.darkBlue{background-color:#2152a7}
