
<% content_for :body do %>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first[:slug].to_sym) if Refinery::Pages.default_parts.any? %>

<main>
        <section>
            <div id="google-map" class="map_model">
                <ul class="map_locations">
                    <li data-x="-71.3179367" data-y="42.6275581">
                        <p> 171 Lincoln St<br>Lowell, MA 01851</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="contacts">
            <div class="contacts-wrap">
                <h3>Contact Us</h3>
                <%= render "/refinery/inquiries/inquiries/form", inquiry: @inquiry %>
                
                <div class="contacts-bottom bg02">
                    <div class="addr">171 Lincoln St, Lowell, MA 01851<br />(617) 676-7644<br />
<a href="mailto:chrispiscione@yahoo.com">chrispiscione@yahoo.com</a></div>
                </div>
            </div>
        </section>        
    </main>
<% end %>
<%= render '/refinery/content_page', :hide_sections => [:intro, :quote, :body_content_title] %>